.list-container{
    margin-top: 5rem;

    table{
        width: 60%;
        margin: 0 auto;
        
        tr:first-child{
            height: 3rem;

            box-shadow: 1px 1px 2px #c7c7c7;
        }

        tr{
            th, td{
                text-align: left !important;
            }

            th, td{
                padding: 1rem
            }
        }
    }
}