*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-header: #440d5c;
    --color-profile: #4f116a;
    --color-stages: #ededed;
    --color-primary: #030303;
    --color-secondary: #ffffff;
    --color-focus: #e6e0ed;
    --color-border: #eac7ff;
    --color-white: #ffffff;
    --color-black: #000000;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-color: #f9f9f9;
}

body, input, select, button {
    font-weight: 400;
    font-size: 0.85rem;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
}

input, select{
    background-color: var(--color-white);
}

ul{
    display: flex;

    li{
        list-style: none;
    }
}